.container {
  font-family: "Libre Franklin", sans-serif;
}
body {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  height: 120vh;
}
header {
  font-size: 60px;
  height: 5vh;
  margin-bottom: 30px;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 88vw;
}
img {
  width: 80vw;
  margin-left: -250px;
}
